node_modules/
appimagetool.AppImage
test.sh
patching_working_directory/
SubwayBuilderPatched/
patcher/packages/*
!patcher/packages/mapPatcher
mapdata_processor/
config.js
.DS_Store
SubwayBuilderPatched.app
premade_maps/*
output_tiles_test/
Step
gzip.exe
data
extracted_app/
Japan Pack/
SubwayBuilder-CPH-main/
bbox_storage.txt